@{
    ViewData["Title"] = "Movie List";
}

@model List<ApplicationResponse>

<div class="container">
    <h2 class="my-4 text-center">Movie List</h2>

    <table class="table table-bordered table-striped">

        <thead class="thead-dark">
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited</th>
                <th>Lent To</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Category.CategoryName</td>
                    <td>@x.Title</td>
                    <td>@x.Year</td>
                    <td>@x.Director</td>
                    <td>@x.Rating</td>
                    <td>@(x.Edited ? "Yes" : "No")</td>
                    <td>@x.LentTo</td>
                    <td>@x.Notes</td>

                    <td><a class="btn btn-primary" asp-controller="Home" asp-action="Edit" asp-route-applicationid="@x.ApplicationId">Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-applicationid="@x.ApplicationId">Delete</a></td>
                </tr>

            }
        </tbody>

    </table>
</div>
